@import "../../style/vars.scss";

.sp__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  font-family: $fontFamily;

  .sp__container-input {
    position: relative;
    width: 140px;
    display: flex;
    margin: 1em auto;

    input {
      width: 100%;
      height: 34px;
      padding: 5px auto;
      overflow: visible;

      outline: none;
      border: none;
      border-radius: 10px;
      background-color: transparent;

      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      color: rgb(0, 0, 0);
    }

    input::placeholder {
      color: rgb(0, 0, 0);
    }

    span {
      position: absolute;
      margin: 0 10px;
      padding: 5px auto;
      width: 85%;
      height: 100%;
      background-color: $peachColor;
      z-index: -1;
      border-radius: 12px;
    }
  }

  .sp__container-result {
    width: 100%;
    display: flex;
    margin: 15px auto;

    .sp__container-result-users {
      position: relative;
      width: 65vw;
      display: flex;
      margin: 0 auto;

      .sp__container-result-users-user-wrapper {
        position: absolute;
        display: flex;
        border-radius: 80px;
      }
    }
    p {
      margin: 0 auto;
    }

    @media screen and (min-width: 1920px) {
      .sp__container-result-users-user-wrapper {
        width: 90px;
        height: 90px;
      }
    }

    @media screen and (min-width: 1366px) and (max-width: 1920px) {
      .sp__container-result-users-user-wrapper {
        width: 77.86px;
        height: 77.86px;
      }
    }

    @media screen and (min-width: 1024px) and (max-width: 1366px) {
      .sp__container-result-users-user-wrapper {
        width: 65px;
        height: 65px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .sp__container-result-users-user-wrapper {
        width: 50px;
        height: 50px;
      }
    }
  }
}
